@use '@shawnsandy/first-paint/src/components.scss';

@include components.button-links();
@include components.form-elements();
@include components.header-addBorders();
@include components.elements-pre();

a[role='button'] > em {
  filter: contrast(1.15);
  background-color: #879bd0;
  color: #020202;
  font-size: 1rem;
  font-weight: 500;
}

header > section[role='banner'] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label='feature'] {
  ul {
    margin-left: 0.9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li + li {
      margin-top: 0.5rem;
    }
  }

  blockquote {
    padding: 0rem 0;
  }
}

nav {
  @media (min-width: 980px) {
    //align-items: center;
  }
}

header {
  > nav {
    max-width: 100%;
    width: 100%;
    > section {
      width: 100%;
    }
  }
  > section {
    width: 100%;
  }
}

body {
  > section,
  main,
  header > section {
    max-width: calc(1300rem / 16);
  }
}
.merriweather {
  font-family: 'Merriweather', serif;
}
.services {
  text-decoration: none;
  text-decoration-color: #6c69a6 !important;
  font-family: 'Port Lligat Slab', serif;
  font-size: 2.25rem;
}
.contact {
  margin: 3rem;
}
.social {
  margin: 3rem;
}
.featured {
  [role='list'] {
    flex-direction: column;
    [role='listitem'] {
      font-size: 0.92rem;
      flex-direction: row;
      width: 100%;
      gap: 3rem;
      align-items: center;
      padding-block: 3rem;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
      }

      @media (min-width: 980px) {
        img {
          width: calc(580rem / 16);
        }
      }
    }
  }
}

section.featured {
  max-width: calc(1400rem / 16);
}
footer {
  align-items: center;
  background-color: #879bd0;
  border-top: thick solid #414141 !important;
}
footer[role='contentinfo'] section {
  input,
  textarea {
    background-color: #fff;
    border: none !important;
  }

  button {
    background-color: #000000;
    color: #fff;
    border: none !important;
    border-radius: 99rem;
    color: #dfdfdf;
    font-size: 1rem;
    font-family: merriweather, serif;
    &:hover {
      background-color: darken(#6b6b6b, 15%) !important;
    }
  }
}

body > header nav {
  background-color: white !important;
  filter: none;
  @media (min-width: 980px) {
    padding-inline: 10%;
  }
}
