{% extends "_Layout.njk" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main style="padding-top: calc(100rem / 16)">
    <section>
      {# -------------- #}
      <article>
        {% if title %}
          <h4 role="presentation ">{{ title }}</h4>
          {% if showDate %}
            <time datetime="{{ page.date }}">
              <i class="ti ti-calendar-event"></i>
              {{ hlp.11ty.timeAgo(page.date) }}
            </time>
          {% endif %}
        {% endif %}
        <p>
          {{ content | safe }}
        </p>
      </article>
    </section>
     </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
