{% extends "base.njk" %}
{% block cover %}
  <section class="landing-cover">
    <div class="cover-content">
      <h2>
        {{ settings.title }}
      </h2>
      <h3>
        {{ settings.subtitle }}
      </h3>
    </div>
  </section>
  {# {% include "partials/hero.njk" %} #}
{% endblock %}
{% block content %}
  {{ feature.featured('projects', 3) }}
{% endblock %}
