{% extends "base.njk" %}
<!-- hide cover page -->
{% block cover %}
  <section class="bg-section" style="img">
    <div class="cover-content">
      <img src= "/images/eldlogo.png"><img>
    <h4 role="presentation">
      <i class="ti ti-grain"></i>
      {{ settings.subtitle }}
    </h4>
   
      </div>
    </blockquote>
  {% endblock %}
  {% block content %}
    {{ super() }}
    {# <section>
      <p style="margin-bottom: 3rem">
        <small>
          <a href="{{ env.repository }}/blob/main/{{ page.inputPath }}" target="_blank" rel="noopener nofollower" role="button">
            <span>
              <i class="ti ti-edit"></i>
              Edit this page on GitHub</span>
          </a>
        </small>
      </p>
    </section> #}
  {% endblock %}
