{# adds a grid styled collection to the page #}
{# attributes tag - tag, limit -
number of items, words - word count #}
  {%- macro featured(tag = 'posts', limit =
3, words = 200) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) |
reverse -%}
    <section style="margin: 1rem auto" class="featured"> <div role="list">
      {%- for item in feature %}
        <div role="listitem">
          {% if item.data.image %}
            <picture>
              <img loading="lazy" src="{{ hlp.sharp.coverImage(item.data.image) }}" alt="{{ item.data.title | slug }}" width="500" height="300"/>
            </picture>
          {% endif %}
          <section>
            <h4 class="services">

                {{ item.data.title }}

            </h4>
            <p>
              {# {{ item.data.subtitle or hlp.11ty.stripHtml(item.templateContent) |
                                              truncate(300) | safe }} #}
              {{ item.templateContent | safe }}
            </p>
            {% if item.url %}
              <p>
                <a href="/pages/book" role="button">
                  <em>
                    Get started with a consultation
                    <i class="ti ti-arrow-right"></i>
                  </em>
                </a>
              </p>
            {% endif %}
          </section>
        </div>
      {%- endfor %}
    </div>
  </section>
{%- endmacro -%}
{%- macro postLinks(tag = 'posts', limit = 3) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) | reverse -%}
  <section>
    <span>
      <ul role="list">
        {%- for item in feature %}
          <li role="listitem">
            {% if item.data.image %}
              <picture>
                <img loading="lazy" src="{{ item.data.image }}" alt="item.data.title | slug"/>
              </picture>
            {% endif %}
            <h3>
              <i class="{{ item.data.icon }}"></i>
              <a href="{{ content.url }}" title="{{ item.data.title | slug }}">
                {{ item.data.title }}
              </a>
            </h3>
          </li>
        {%- endfor %}
      </ul>
    </span>
  </section>

{%- endmacro -%}
{# display a list with image/links or title #}
{# attributes
tag - tag, limit - number of items #}
{%- macro postImages(tag = 'posts', limit
= 3) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) | reverse -%}
  <section style="margin: 2rem 0;">
    <span style="background-color: 83dcdd;">
      <ul role="list">
        {%- for item in feature %}
          <li role="listitem">
            <a href="" title="{{ item.data.title | slug }}">
              {% if item.data.image %}
                <picture>
                  <img loading="lazy" src="{{ item.data.image }}" alt="Image" width="400" height="200"/>
                </picture>
              {% else %}
                <h3>
                  <i class="{{ item.data.icon }}"></i>
                  <a href="{{ content.url }}" title="{{ item.data.title | slug }}">
                    {{ item.data.title }}
                  </a>
                </h3>
              {% endif %}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </span>
  </section>
{%- endmacro -%}

